* {
    box-sizing: border-box;
    position: relative;
}

html {
    font-family: "Helvetica", sans-serif;
    color: #222;
    background-color: #665055;
}

a {
    text-decoration: none;
    color: inherit;
}

p a {
    text-decoration: underline;
    color: blue;
}

[type="button"] {
    cursor: pointer;
}

textarea {
    display: block;
}

label {
    display: block;
}

strong {
    font-weight: bold
}
